.slot-menu {
  &__content {
    width: 230px;
    height: 135px;
    padding: 20px;
    font-size: 15px;

    &.cancel {
      color: #2e4a68;
    }

    &-title {
      &.slot {
        color: #2e4a68;
      }

    }

    &-menu {
      padding-top: 30px;

      &-item {
        padding: 5px 0;
        border-bottom: 1px solid gray;
        cursor: pointer;

        &.disabled {
          color: gray;
          pointer-events: none;
        }

        &.black {
          color: black;
        }

        &.blue {
          color: #51a8ff;
        }

        &.red {
          color: #d73937;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &-header {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    &-text {
      font-size: 13px;
      margin-bottom: 10px;
    }

    &-button {
      margin-bottom: 10px;
      padding: 5px 20px;
      font-size: 15px;
      background-color: #f80017;
      color: white;
      outline: 0;
      border: 1px solid gray;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        border: 1px solid #444;
        background-color: darkred;
        opacity: 0.8;
      }
    }

    &-cancel {
      font-size: 13px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.create-popup {
  &__content {
    position: relative;
    width: 270px;
    height: 200px;
    background-color: #e1ead9;
    border: 2px solid #689d41;
    border-radius: 10px;
  }

  &__header {
    width: 100%;
    height: 35px;
    padding-bottom: 5px;
    background-color: #689d41;
    font-size: 30px;
  }

  &__body {
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 90px;
      background-color: #689d41;
      color: #e1ead9;
      border-radius: 50%;
    }
  }
}