.resource-appointment {
  &__root {
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #313131;

    &-text {
      font-size: 18px;
      margin: 0 0 0 20px;
      text-transform: uppercase;

      & span {
        font-size: 15px;
      }
    }

    &-button {
      cursor: pointer;
      padding: 5px 10px;
      margin: 0;
      display: flex;
      font-size: 10px;
      background: rgb(124, 172, 87);
      background: linear-gradient(180deg, rgba(124, 172, 87, 1) 0%, rgba(100, 156, 59, 1) 2%, rgba(77, 122, 43, 1) 100%);
      color: white;
      border: 1px solid #3a5e1c;
      border-radius: 4px;

      &:disabled {
        cursor: default;
        filter: grayscale(1);

        &:hover {
          opacity: 1;
        }
      }

      &.active, &:active {
        background: rgb(58,94,28);
        background: linear-gradient(180deg, rgba(58,94,28,1) 0%, rgba(76,121,44,1) 100%);
      }

      &:focus {
        border: 1px solid #3a5e1c;
        outline: 0;
      }

      &:hover {
        opacity: 0.9;
      }

      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        background: url("../../../../../src/assets/img/filter.svg") no-repeat;
      }
    }

    &-list {
      top: 25px;

      &_option {
        white-space: nowrap;
        padding: 2px 0;
        text-align: center;
        cursor: pointer;
        box-sizing: content-box;
        border: 1px solid transparent;
        border-radius: 2px;

        &:hover {
          background-color: #fefefe;
          border-color: #f0f0f0;
        }
      }
    }
  }

  &__body {
    display: flex;

    &-input {
      width: 100%;
      height: 25px;
      padding-left: 10px;
      border: 1px solid gray;
      border-right: 0;
      border-radius: 3px 0 0 3px;

      &:focus {
        outline: 0;
        border: 1px solid #555;
        border-right: 0;
      }
    }

    &-button {
      width: 30px;
      white-space: nowrap;
      border: 1px solid gray;
      border-radius: 0 3px 3px 0;
      background: #efefef url("../../../../../src/assets/img/search.svg") no-repeat center;
      background-size: 50%;

      &:hover {
        cursor: pointer;
        background-color: #ccc;
      }

      &:active {
        opacity: 0.8;
      }

      &:focus {
        outline: 0;
        border: 1px solid gray;
      }
    }
  }

  &__header-popup {
    z-index: 1;
    position: absolute;
    top: 25px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;

    &.closed {
      width: 0;
      border-color: transparent;
      background-color: transparent;
    }

    & p {
      padding: 5px 0 5px 14px;
      margin: 2px;
      white-space: nowrap;
      cursor: pointer;
      box-sizing: content-box;
      border: 1px solid transparent;
      border-radius: 2px;

      &:hover {
        background-color: #fefefe;
        border-color: #f0f0f0;
      }
    }
  }

  &__search {
    position: absolute;
    top: 65px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    overflow: hidden;

    &.closed {
      width: 0;
      border-color: transparent;
      background-color: transparent;
    }

    &-list {
      margin: 5px;

      &_resource, &_noresource {
        white-space: nowrap;
        padding: 2px;
        cursor: pointer;
        box-sizing: content-box;
        border: 1px solid transparent;
        border-radius: 2px;

        & p {
          margin: 0;
        }

        &:hover {
          background-color: #fefefe;
          border-color: #f0f0f0;
        }
      }
    }
  }

  &__footer {
    &__buttons-wrapper {
      display: flex;
      margin-top: 10px;
    }

    &-button {
      height: 25px;
      flex: 1;
      background: rgb(170,170,170);
      background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(255,255,255,1) 50%);
      border: 1px solid #aaa;
      border-left: 0;
      color: inherit;
      cursor: pointer;
      border-radius: 0 5px 5px 0;

      &:first-child {
        border-left: 1px solid #aaa;;
        border-radius: 5px 0 0 5px;
      }

      &:disabled, &:active {
        background: rgb(224,224,224);
        background: linear-gradient(0deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(110,110,110,1) 100%);
        cursor: default;
      }

      &:focus {
        border: 1px solid #aaa;
        outline: 0;
      }

      &:last-child:active {
        border-left: 0;
      }

    }

    &__search-wrapper {
      background-color: white;
      border: 1px solid #d0d1d1;
      overflow-x: scroll;
      margin-top: 50px;
      max-height: 300px;

      & > ul > li {
        &.normal > label {
          font-weight: normal;
        }

        & > label {
          font-weight: bold;
        }
      }

      & ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      & li {
        margin-left: 20px;
      }

      & label {
        position: relative;
        display: flex;
        height: 50px;
        align-items: center;

        &:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          display: block;
          width: 318px;
          height: 1px;
          background-color: #e8e8eb;
        }
      }
    }
  }
}
