.calendar {
  display: flex;
  flex: 1;
  background-color: #efefef;
  height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);

  &__container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    & > span {
      text-align: center;
      color: #a8a8a8;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #efefef;

    &--header {
      position: sticky;
      top: 0;
      background: linear-gradient(180deg, rgba(239,239,239,1) 25px, rgba(239,239,239,0) 25px);
      z-index: 1;
    }

    &--header, &--body {
      display: flex;
      display: -webkit-box;

      &-column {
        width: 200px;
        min-width: 200px;
        margin: 20px 0 0 10px;
        border-radius: 5px 5px 0 0;

        &:first-child {
          margin-left: 20px;
        }

        &.warning {
          background-color: #f6ddd6;
          border: 2px solid #d15530;
          border-bottom-width: 0;
          box-sizing: border-box;
        }

        &.warning &-cabinet {
          background-color: #eba741;
        }

        &-day, &-name, &-specialty, &-cabinet, &-schedule, &-status {
          font-size: 15px;
          line-height: 30px;
          text-align: center;
        }

        &-day {
          color: white;
          background-color: #353535;
          border-radius: 4px 4px 0 0;
        }

        &-name, &-specialty {
          background-color: #949494;
          color: white;
          border-bottom: 1px solid white;
        }

        &-specialty {
          font-style: italic;
          border-bottom: 1px solid transparent;
        }

        &-cabinet {
          background-color: #8ec8d6;
        }

        &-schedule {
          background-color: #a4c589;
        }

        &-status {
          background-color: #d15530;
        }
      }
    }

    &--body {
      &-column {
        position: relative;
        margin: 0 0 20px 10px;
        border-radius: 0;
        background-color: #d5e0e2;

        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          background-color: #d5e0e2;
          top: -100%;
        }

        &:first-child {
          margin-left: 20px;
        }

        &.warning {
          border-top-width: 0;
          border-bottom-width: 2px;
        }

        &-hour {
          display: flex;
          min-height: 30px;
          align-items: center;
          border-bottom: 1px dashed black;
          background-color: #e8e8eb;
          box-sizing: border-box;
          font-size: 15px;

          &.not-dashed {
            border-bottom-width: 0;
          }

          & span {
            display: block;
            margin-left: 5px;
          }

          &_double {
            width: 100%;
          }

          &_double > &_notwork {
            width: auto;
          }

          &_notwork {
            width: 100%;
            height: 60px;
            padding: 5px;
            border-bottom: 1px dashed black;
            background-color: #949494;
            box-sizing: border-box;
            font-weight: bold;
          }
        }
      }
    }
  }
}