.date-picker {
	flex: 1;
	padding: 14px;

	&__header {
		display: flex;
		justify-content: center;
		margin-bottom: 8px;
	}

	&__prev-btn,
	&__next-btn {
		padding: 0 14px;
		line-height: 25px;
		cursor: pointer;
	}

	&__month-btn {
		width: 80%;
		height: 25px;
		background: rgb(170,170,170);
		background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(255,255,255,1) 50%);
		border: 1px solid #aaa;
		border-radius: 4px;
		cursor: pointer;

		&:active {
			background: rgb(224,224,224);
			background: linear-gradient(0deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(110,110,110,1) 100%);
		}

		&:focus {
			border: 1px solid #aaa;
			outline: 0;
		}

		&:hover {
			opacity: 0.9;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__week {
		display: flex;
		flex-direction: row;
	}

	&__week:first-child &__day {
		font-weight: bold;
	}

	&__day {
		flex: 1;
		padding: 4px 8px;
		vertical-align: middle;
		text-align: center;
		border: 2px solid transparent;

		&--selected {
			position: relative;

			&:after {
				content: '';
				display: block;
				width: 25px;
				height: 25px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				border: 2px solid dodgerblue;
				border-radius: 50%;
			}
		}

		&:hover {
			background-color: dodgerblue !important;
			color: white;
		}

		// &--active {
		// 	pointer-events: none;

		// 	&:hover {
		// 		background-color: #eaeaea;
		// 	}
		// }

		&--can-set {
			background-color: #cde4fd;
			color: #000;

			&:hover {
				background-color: #eaeaea;
				cursor: pointer;
			}
		}

		&--disabled {
			background-color: #d5d5d5;
			color: #a7a7a7;
			cursor: default;
			pointer-events: none;
		}
	}
}
