.filter-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 50px;
  max-height: 50px;
  background-color: #e8e8eb;
  box-shadow: 0 0 10px #777;
  z-index: 2;

  &__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__header {
    font-size: 22px;
    font-weight: normal;
    color: #313131;
  }

  &__buttons-wrapper {
    display: flex;
    border: 1px solid #3a5e1c;
    border-radius: 4px;
  }

  &__button {
    background: rgb(124,172,87);
    background: linear-gradient(180deg, rgba(124,172,87,1) 0%, rgba(100,156,59,1) 2%, rgba(77,122,43,1) 100%);
    cursor: pointer;
    border: 0;
    color: white;
    border-right: 1px solid #3a5e1c;
    padding: 5px 10px;
    margin: 0;

    &:disabled {
      cursor: default;
      filter: grayscale(1);

      &:hover {
        opacity: 1;
      }
    }

    &.active {
      background: rgb(58,94,28);
      background: linear-gradient(180deg, rgba(58,94,28,1) 0%, rgba(76,121,44,1) 100%);
    }

    &:last-child {
      border-right: 0;
    }

    &:focus {
      border: 0;
      border-right: 1px solid #3a5e1c;
      outline: 0;

      &:last-child {
        border-right: 0;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }
}